<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

    <body>
        <header class="h2">
            Nowty
        </header>

        <section>

            <div class="form-group">
                <label for="actividad-input">Agregar nueva actividad:</label>
                <input class="form-control" type="text" id="actividad-input" name="actividad-input">
            </div>

            <div class="card">
                <div class="card-header" id="heading">
                    <button class="accordion-btn" type="button">Opciones avanzadas</button>
                </div>
                <div class="card-body" id="opcionesAvanzadas">

                    <div class="form-group">
                        <label for="dropdown-select">Seleccionar tipo:</label>
                        <select id="dropdown-select" class="form-control" name="dropdown-select">
                            <option value="actividad" selected>Actividad</option>
                            <option value="rutina">Rutina</option>
                            <option value="nota">Nota</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descripcion-textarea">Descripción:</label>
                        <textarea id="descripcion-textarea" class="form-control" name="descripcion-textarea"
                            rows="4"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagen-input">Imagen:</label>
                        <input type="file" class="form-control-file" id="imagen-input" class="form-control" name="imagen-input">
                    </div>

                    <div class="form-group">
                        <fieldset id="horas-input">
                          <legend class="sr-only">Horas:</legend>
                          <div class="checkbox-group">
                            <% for (var i = 1; i <= 24; i++) { %>
                                <label class="checkbox-container">
                                  <input type="checkbox" name="horas-input" value="<%= i %>" />
                                  <span class="checkmark"></span>
                                </label>
                              <% } %>
                          </div>
                        </fieldset>
                      </div>

                      <style>
                        .checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group label {
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
}

.checkbox-group label input[type="checkbox"] {
    width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox-group label .checkmark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.checkbox-group label input[type="checkbox"]:checked + .checkmark {
  background-color: #007bff;
}

.checkbox-group label input[type="checkbox"]:focus + .checkmark {
  outline: 1px dotted #ccc;
}

                      </style>

                    <br>

                    <div class="date-config form-group">
                        <label for="date-dropdown">Configuración de fecha:</label>
                        <select id="date-dropdown" class="form-control" name="date-dropdown">
                            <option value="por-semana" selected>Por semana</option>
                            <option value="por-fecha">Por fecha</option>
                        </select>
                    </div>

                    <div id="porSemanaInputs">

                        <div class="form-group">
                            <label for="diaInicial">Serie día</label>

                        </div>

                        <div class="form-group">
                            <label for="horaInicial">Hora inicial (1-24): </label>

                        </div>

                    </div>

                    <div id="porFechaInputs" style="display:none;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dia">Día (1-31): </label>
                                    <input type="number" id="dia" class="form-control" name="dia" min="1" max="31">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="mes">Mes: </label>
                                    <select id="mes" class="form-control" name="mes">
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="anho">Año (2023-2100): </label>
                                    <input type="number" id="anho" class="form-control" name="anho" min="2023" max="2100">
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </section>

        <br>

        <section>
            <h1>Actividades del día</h1>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Duración</th>
                        <th>Hecho</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].nombre %>
                            </td>
                            <td>
                                <%= data[i].descripcion %>
                            </td>
                            <td><img src="<%= data[i].imagen %>" alt="Imagen de <%= data[i].nombre %>"></td>
                            <td>
                                <%= data[i].duracion %> minutos
                            </td>
                            <td><input id="<%= data[i].id %>" class="form-check-input hecho-checkbox" type="checkbox" <% if
                                    (data[i].hecho) { %>checked<% } %>></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section>

        <footer>
            Nowty 2023
        </footer>

        <script src="js/script.js"></script>

    </body>

</html>