<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

    <body>
        <header class="h2">
            Nowty
        </header>

        <section>

            <div class="form-group">
                <label for="actividad-input">Agregar nueva actividad:</label>
                <input class="form-control" type="text" id="actividad-input" name="actividad-input">
            </div>

            <div class="card">
                <div class="card-header" id="heading">
                    <button class="accordion-btn" type="button">Opciones avanzadas</button>
                </div>
                <div class="card-body" id="opcionesAvanzadas">

                    <div class="form-group">
                        <label for="dropdown-select">Seleccionar tipo:</label>
                        <select id="dropdown-select" class="form-control" name="dropdown-select">
                            <option value="actividad" selected>Actividad</option>
                            <option value="nota">Nota</option>
                            <option value="rutina">Rutina</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descripcion-textarea">Descripción:</label>
                        <textarea id="descripcion-textarea" class="form-control" name="descripcion-textarea"
                            rows="4"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="imagen-input">Imagen:</label>
                        <input type="text" id="imagen-input" class="form-control" name="imagen-input">
                    </div>

                    <div class="form-group">
                        <label for="duracion-input">Duración:</label>
                        <input type="number" id="duracion-input" class="form-control" name="duracion-input"
                            placeholder="Minutos">
                    </div>

                    <br>

                    <div class="date-config form-group">
                        <label for="date-dropdown">Configuración de fecha:</label>
                        <select id="date-dropdown" class="form-control" name="date-dropdown">
                            <option value="por-semana" selected>Por semana</option>
                            <option value="por-fecha">Por fecha</option>
                        </select>
                    </div>

                    <div id="porSemanaInputs">

                        <div class="form-group">
                            <label for="frecuenciaDiaria">Frecuencia diaria (1-7): </label>
                            <input type="number" id="frecuenciaDiaria" class="form-control" name="frecuenciaDiaria"
                                min="1" max="7">
                        </div>

                        <div class="form-group">
                            <label for="diaInicial">Día inicial: </label>
                            <select id="diaInicial" class="form-control" name="diaInicial">
                                <option value="1">Lunes</option>
                                <option value="2">Martes</option>
                                <option value="3">Miércoles</option>
                                <option value="4">Jueves</option>
                                <option value="5">Viernes</option>
                                <option value="6">Sábado</option>
                                <option value="7">Domingo</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="diaFinal">Día final: </label>
                            <select id="diaFinal" class="form-control" name="diaFinal">
                                <option value="1">Lunes</option>
                                <option value="2">Martes</option>
                                <option value="3">Miércoles</option>
                                <option value="4">Jueves</option>
                                <option value="5">Viernes</option>
                                <option value="6">Sábado</option>
                                <option value="7">Domingo</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="frecuenciaHoraria">Frecuencia horaria (1-24): </label>
                            <input type="number" id="frecuenciaHoraria" class="form-control" name="frecuenciaHoraria"
                                min="1" max="24">
                        </div>

                        <div class="form-group">
                            <label for="horaInicial">Hora inicial (1-24): </label>
                            <input type="number" id="horaInicial" class="form-control" name="horaInicial" min="1"
                                max="24">
                        </div>

                        <div class="form-group">
                            <label for="horaFinal">Hora final (1-24): </label>
                            <input type="number" id="horaFinal" class="form-control" name="horaFinal" min="1" max="24">
                        </div>

                        <div class="form-check">
                            <label for="incluirFinde" class="form-check-label">Incluir fin de semana: </label>
                            <input type="checkbox" id="incluirFinde" class="form-check-input" name="incluirFinde"
                                checked>
                        </div>
                    </div>

                    <div id="porFechaInputs" style="display:none;">
                        <div class="form-group">
                            <label for="hora">Hora (1-24): </label>
                            <input type="number" id="hora" class="form-control" name="hora" min="1" max="24">
                        </div>

                        <div class="form-group">
                            <label for="dia">Día (1-31): </label>
                            <input type="number" id="dia" class="form-control" name="dia" min="1" max="31">
                        </div>

                        <div class="form-group">
                            <label for="mes">Mes (1-12): </label>
                            <input type="number" id="mes" class="form-control" name="mes" min="1" max="12">
                        </div>

                        <div class="form-group">
                            <label for="anho">Año (2023-2100): </label>
                            <input type="number" id="anho" class="form-control" name="anho" min="2023" max="2100">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <br>

        <section>
            <h1>Actividades del día</h1>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Duración</th>
                        <th>Hecho</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].nombre %>
                            </td>
                            <td>
                                <%= data[i].descripcion %>
                            </td>
                            <td><img src="<%= data[i].imagen %>" alt="Imagen de <%= data[i].nombre %>"></td>
                            <td>
                                <%= data[i].duracion %> minutos
                            </td>
                            <td><input id="<%= data[i].id %>" class="form-check-input" type="checkbox" <% if
                                    (data[i].hecho) { %>checked<% } %>></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section>

        <footer>
            Nowty 2023
        </footer>

        <script src="js/script.js"></script>

    </body>

</html>