<!DOCTYPE html>
<html lang="en">
    
    <%- include('head'); %>

    <body>

        <%- include('header'); %>

        <%- include('insertform'); %>

        <a href="advanced" class="btn btn-primary">Más opciones</a>

        <section>
            <h1>Actividades del día</h1>

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Hecho</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].nombre %>
                            </td>
                            <td>
                                <%= data[i].descripcion %>
                            </td>
                            <td>
                                <% if (data[i].imagen) { %>
                                  <img src="<%= data[i].imagen %>" alt="Imagen de <%= data[i].nombre %>">
                                <% } %>
                            </td>                              
                            <td>
                                <input id="<%= data[i].id %>" class="form-check-input hecho-checkbox" type="checkbox" <% if (data[i].hecho) { %>checked<% } %>>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section>

        <%- include('footer'); %>

        <script src="js/indexScript.js"></script>

    </body>

</html>